<header>
  <h1>YOU'RE IN THE GAME NOW</h1>
</header>

<section class="form">
  <p>LOGIN YOUR FACE</p>
  <form action='/users/new' method='post'>
    <input type="text" value="Username">
    <input type="password" value="Password">
  </form>
</section>

<section>
  <p>Not yet registered?</p>
  <a href="/users/new">Sign up here</a>
</section>
